<div class="col-md-6 user-container">
  <h2 class="text-center">Añadir usuario</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" formControlName="username" placeholder="Usuario" name="username" class="form-control" id="username">
    </div>
    <div class="form-group">
        <label for="username">Password:</label>
        <input type="text" formControlName="password" placeholder="Password" name="password" class="form-control" id="password">
    </div>
    <div class="form-group">
        <label for="username">Nombre:</label>
        <input type="text" formControlName="firstName" placeholder="Nombre" name="firstName" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label for="username">Apellidos:</label>
        <input type="text" formControlName="lastName" placeholder="Apellidos" name="lastName" class="form-control" id="lastName">
    </div>
    <div class="form-group">
        <label for="username">Edad:</label>
        <input type="text" formControlName="age" placeholder="Edad" name="age" class="form-control" id="age">
    </div>
    <div class="form-group">
        <label for="username">Salario:</label>
        <input type="text" formControlName="salary" placeholder="Salario" name="salary" class="form-control" id="salary">
    </div>
    <button class="btn btn-success">Añadir</button>
  </form>
</div>
