<div class="col-md-6 user-container">
  <h2> User Details</h2>
  <button class="btn btn-danger" (click)="anadirUsuario()" style="margin-bottom:20px;"> Añadir Usuario</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>Edad</th>
        <th>Salario</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of Usuario">
        <td>{{usuario.id}}</td>
        <td>{{usuario.firstName}}</td>
        <td>{{usuario.lastName}}</td>
        <td>{{usuario.username}}</td>
        <td>{{usuario.age}}</td>
        <td>{{usuario.salary}}</td>
        <td>
          <button class="btn btn-success" (click)="eliminarUsuario(usuario.id)">Eliminar</button>
          <button class="btn btn-success" routerLink="/editar-usuario/{{usuario.id}}" style="margin-left:20px">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
