<div class="row">
  <div class="col-md-6 login-container">
    <h2 style="margin:auto">Login </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Usuario:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">El usuario es requerido</div>
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="text" class="form-control" formControlName="password" id="password" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">La contraseña es requerida</div>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Credenciales erroneas</div>
      </div>
    </form>
  </div>
</div>
