<div class="col-md-6 user-container">
  <h2 class="text-center">Editar usuario</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
    </div>
    <div class="form-group">
      <label for="username">Usuario:</label>
      <input type="text" formControlName="username" placeholder="Usuario" name="username" class="form-control" id="username" readonly="true">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="text" formControlName="password" placeholder="Password" name="password" class="form-control" id="password" readonly="true">
    </div>
    <div class="form-group">
      <label for="firstName">Nombre:</label>
      <input type="text" formControlName="firstName" placeholder="Nombre" name="firstName" class="form-control" id="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Apellidos:</label>
      <input type="text" formControlName="lastName" placeholder="Apellidos" name="lastName" class="form-control" id="lastName">
    </div>
    <div class="form-group">
      <label for="age">Edad:</label>
      <input type="text" formControlName="age" placeholder="Edad" name="age" class="form-control" id="age">
    </div>
    <div class="form-group">
      <label for="salary">Salario:</label>
      <input type="text" formControlName="salary" placeholder="Salario" name="salary" class="form-control" id="salary">
    </div>
    <button class="btn btn-success">Actualizar</button>
  </form>
  <br>
  <pre>{{this.id}}
  {{this.editForm.value}}</pre>
</div>
